/* friend component style. */

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 800px;
  margin-top: 25px;
}
.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.form {
  font-size: 14px;
  width: 85%;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}
