/* card component style. */

.card-container {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
}
.center {
    text-align: center;
}
.card {
    margin-top: 30px;
}
.primary000 {
    color: blue;
}

/* media min-width 480px and max-width 767px */

@media (min-width: 480px) and (max-width:767px) {

    .card {
      width: 280px;
      margin: 20px auto;
    }

} 

/* media min-width 768px and max-width 1199px */

@media (min-width:768px) and (max-width:1199px) {

    .card {
        width: 480px;
        margin: 20px auto
    }
}

/* media min-width 1200px */

@media  (min-width:1200px) {
    .card {
        width: 1000px;
        margin: 20px auto;
    }
} 