/* tablelist component style. */

* Structure */ .tablelist-container {

  display: flex;
  flex-direction: column;
  min-width: 300px;
}

/*
 * Styles to make the demo's cdk-table match the material design spec
 * https://material.io/guidelines/components/data-tables.html
 */

.tablelist-table {

  flex: 1 1 auto;
  overflow: auto;
  max-height: 500px;
}

.tablelist-header-row,

.tablelist-row {

  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  height: 32px;
  padding: 0 8px;
}

.tablelist-cell,
.tablelist-header-cell {
  flex: 1;
}

.tablelist-header-cell {

  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}

.tablelist-cell {

  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}
