/* style file */

.spacer {

    -webkit-box-flex: 1 1 auto;
    -ms-flex:  1 1 auto;
    flex: 1 1 auto;
}



.sidenav-content {
    padding: 20px;
    min-height: 500px;
}

.sidenav {
    padding: 15px;
    width: 170px;
    height: 100%;

}