<!-- app component view. -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" mat-icon-button (click)="drawer.toggle(menuicon=!menuicon)">
      <mat-icon *ngIf="!menuicon"><i class="material-icons">menu</i></mat-icon>
      <mat-icon *ngIf="menuicon"><i class="material-icons">clear</i></mat-icon>
    </button>
    <span>Card-App</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon><i class="material-icons">sort</i></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/header" routerlinkActive="active">Header</button>
      <button mat-menu-item routerLink="/cards" routerLinkActive="active">Cards</button>
      <button mat-menu-item routerLink="/users" routerLinkActive="active">Friends</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<!-- toolbar. -->
<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="mode">
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/headers" routerLinkActive="active">Header</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/cards" routerLinkActive="active">Card</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/friends" routerLinkActive="active">Friends</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/tablelists" routerLinkActive="active">Tablelists</a>
    </mat-nav-list>
    <mat-divider></mat-divider>
  </mat-drawer>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
    <!-- Routed view go to here. -->
  </div>
</mat-drawer-container>
<!-- drawer-container. -->
